body {
      background-size: cover;
      font-family: Arial;
}
ul { 
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
      float: left;
      width: 200px;
      height: 40px;
      background-colour: red;
}
ul li ul li {
     display: none;
}
ul li:hover ul li {
   display: block;
}